
@code{
    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public int Size { get; set; } = 48;
}

@using Nostrid.Misc;

@if (!string.IsNullOrEmpty(Url) && Uri.IsWellFormedUriString(Url, UriKind.Absolute))
{
    <img style="width:@(Size)px; height:@(Size)px" src="@Url" class="rounded-999" alt="">
}
else if (!string.IsNullOrEmpty(Id))
{
    <div style="width:@(Size)px; height:@(Size)px" class="rounded-999 overflow-hidden">
        @((MarkupString)Utils.ToSvgIdenticon(Id, Size))
    </div>
}